<header>
  <h1><a href="/">Enfarte.com</a></h1>
  <p>Informações sobre o enfarte, conhecido popularmente como ataque cardíaco.</p>

  <div class="header-banner-large">
    {% include adsense.html %}
    <a href="https://play.google.com/store/apps/details?id=com.luisramalho.infarto">
      <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/pt-br_generic_rgb_wo_60.png" />
    </a>
  </div>

  <div class="header-banner-small">
    {% include ad_block.html %}
  </div>

</header>
