<header>
  <h1><a href="/">Enfarte.com</a></h1>
  <p>Informações sobre o enfarte, conhecido popularmente como ataque cardíaco.</p>
  {% include adsense.html %}
  <p>Sabia que a dor de barriga está associada ao enfarte? Leia mais em <a href="http://dordebarriga.com/problemas-abdominais.html">problemas abdominais associados à dor de barriga</a></p>  
  <a href="https://play.google.com/store/apps/details?id=com.luisramalho.infarto">
	  <img alt="Get it on Google Play"
	       src="https://developer.android.com/images/brand/pt-br_generic_rgb_wo_60.png" />
	</a>
</header>
